body {
  font-family: 'Montserrat', sans-serif;
  color: #111;
  background-color: #fafafa;
}
ul,
ol {
  list-style-type: none;
}
a {
  color: currentColor;
  text-decoration: none;
}
button {
  font-family: inherit;
  color: currentColor;
}
